@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
}

body {
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif; /* assuming modern clean font */
}
